spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: learning_management_prod

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}

logging:
  level:
    root: WARN
    com.tutoring: INFO
